.product-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.product-container img{
    width: 300px;
    height: 300px;
}


.product-details{
    display: flex;
    flex-direction: row;
    width: 50vw;
}


.product-description{
    font-size: 1rem;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}


.product-description button:hover{
    opacity: 0.7;
}




@media (max-width: 767px){
    .product-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .product-details{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 100vw;
    }


    .product-details img{
        width: 150px;
        height: 150px;
    }

    .product-description{
        font-size: 0.8rem;
        text-align: left;
        line-height: 25px;
    }


    .nutritional-table{
        margin: auto;
    }
}


@media (min-width: 768px) and (max-width: 992px){
    
    .product-container{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }


    .product-details{
        padding: 20px;
        gap: 20px;
    }


    .product-details img{
        width: 200px;
        height: 200px;
    }


    .product-description{
        gap: 20px;
        width: 50vw;
        font-size: 1rem;
        line-height: 35px;
        text-align: left;
        margin: auto;
    }
    
}


@media (min-width: 992px){

    .product-description{
        text-align: left;
        line-height: 40px;
        margin: auto;
    }

}
