.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    max-height: 200px;
    width: 100%;
    padding: 1.5rem;
    background-color: #8B0000;
    margin-top: 20px;
}